<?xml version="1.0"?>

<node>
<inputMethods>
  <leap id="10"/>
  <myo id="20"/>
  <kinect id="30"/>
  <tablet id="40"/>
</inputMethods>


<leapGestures>
  <zoom_in id="circle_clockwise"/>
  <zoom_out id="circle_counterclockwise"/>
  <move id="hands_aligned"/>
  <press id="grab"/>
</leapGestures>

<leapParameters>
  <zoom_in_cache id="15"/>
  <zoom_out_cache id="15"/>
  <release_cache id="5"/>
  <press_cache id="25"/>
</leapParameters>



<myoGestures>
  <zoom id="fingersSpread"/>
  <release id="rest"/>
  <press id="fist"/>

</myoGestures>


<kinectGestures>
    <press id="closed"/>
    <release id="open"/>
</kinectGestures>

<rabbitMq>
    <host_name id="localhost"/>
    <queue_name id="hello"/>
</rabbitMq>


 </node>